@model IEnumerable<Medicine>

@foreach (var m in Model)
{
    <h1>@m.Id</h1>
    <h1>@m.Name</h1>
    <a class="btn btn-warning" asp-route-id="@m.Id" asp-controller="Medicine" asp-action="Update">Create</a>
}

<a class="btn btn-primary" asp-controller="Medicine" asp-action="Create">Create</a>
